/*fonts used*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Racing+Sans+One&display=swap');



/* Font family
font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: "Racing Sans One", sans-serif;
font-family: "Arimo", sans-serif;
*/

/* External fonts */
/* @font-face {
	font-family: "xxxx";
	src: url(fonts/xxx/xxx.woff) format("woff"),
	url(fonts/xxx/xxx.woff2) format("woff2");
} */


/* start of CSS reset */
*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

table {border-collapse: collapse; /* Prevent double borders*/ }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 100%;}
body p {font-size: 16px; line-height: 200%; font-family: "Arimo", sans-serif; font-weight: 400;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input, textarea, select{-webkit-appearance: none;}
mark {background-color: transparent;}
body{font-size: 17px; line-height: 120%; font-family: 'Poppins', sans-serif; color:#0F0F0D;position:relative;}
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}
#wpadminbar {position: fixed !important;}
.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color:#000; font-weight:bold;}
.comingsoon{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 5px;  column-gap: 5px;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 10px; -moz-column-gap: 5px;  column-gap: 5px;}
.col2 li, .col3 li{display: inline-block; width: 100%;}
.main_phone {font-weight: bold;}
.back_top{display:none;background:#000;position: fixed; z-index:999;bottom:0;width: 100%;height: 45px;cursor:pointer; border-top: 2px solid #fff;}
.back_top:before{content:"";position:absolute;top:45%;left:50%;transform:translate(-50%,-45%);border-bottom:15px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;}
.back_top:hover{opacity:.7}

/* Other presets */
.wrapper{ width:100%; max-width:1375px; margin:0 auto; position:relative;}




/* Own code starts here */

header {min-height: 926px; background-color: green;}

#main {position: relative; z-index: 2;}
.main_con {min-height: 745px; background: yellow; padding: 38px 0;}


.main_info {text-align: center; width: 100%; max-width: 1315px; margin: 0 auto;}
.main_info figure {width: 100%; max-width: 298px; margin: 0 auto}
.main_info h1 { font-size: 60px; font-family: "Racing Sans One", sans-serif; line-height: 100%;}
.main_info p {margin-top: 38px;}

.main_boxes {width: 100%; max-width: 1380px; margin: 69px 0 auto; display: flex; justify-content: space-between; text-align: center; position: absolute; display: none;}
.main_boxes section {width: 100%; max-width: 345px; border: 1px solid #dcdcdc; min-height: 480px;padding: 17px 15px 13px; background-color: #fff; left: 50%; right: 50%;} 
.main_boxes section h2 {font-size: 26px; font-family: "Arimo", sans-serif; font-weight: bold; margin-top: 33px;}
.main_boxes section p {margin-top: 24px;}
.main_boxes section a {display: block; margin: 64px 0 auto;}


#btm1 {background-color: #FF8B00; position: relative; overflow: hidden;  width: 100%; max-width: 1920px; margin: 0 auto;}
.btm1_img {position: absolute; right: -9px; top: 0;}
.btm1_con {min-height: 845px; padding: 240px 0 50px;}
.btm1_info {background-color: red; width: 100%; max-width: 678px;color: #fff;}
.btm1_info h2 {font-family: "Racing Sans One", sans-serif; font-size: 50px; line-height: 119%;}
.btm1_info p {margin-top: 35px;line-height: 216%;}
.btm1_info a {width: 233px; background-color: #19242a; display: block; height: 62px;text-align: center;color: #fff;margin-top: 43px;line-height: 62px;font-size: 22px;}


#btm2 {}
.btm2_con {min-height: 538px;}
